@tailwind base;
html {
  scroll-behavior: smooth;
}
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham";
  src: url("../../public/fonts/Gotham-Black.otf") format("opentype");
}
